html, body {
    margin: 0;
    padding: 0;
    background-color: #596e79;
    backdrop-filter: blur(30px);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 10px;
    font-weight: bold;
}
a {
    color: whitesmoke;
}
button {
    background: none;
    color: #c7b198;
    border: 2px solid;
    border-radius: 10%;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
    right: 500px;
}
button:hover {
    border-color: black;
    color: white;
    box-shadow: 1em 1em 1em -0.4em #f0ece2;
    transform: translateY(-.75em);
    cursor: pointer;
}
img {
    object-fit: cover;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.homeicon img{
    height: 1em;
    width: 1em;
}
.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    display: grid;
    height: 100vh;
    grid-gap: .25rem;
    grid-template-areas:
      "nav nav nav"
      "resume resume resume"
      "resume resume resume"
      "resume resume resume";
  }
  
.nav { 
    grid-area: nav; 
    text-align: center;
    color: whitesmoke;
}
.resume { 
    grid-area: resume; 
    text-align: center;
    color: whitesmoke;
}
.resume img {
    padding-bottom: 1rem;
    padding-left: auto;
    padding-right: auto;
    
}
@media only screen and (max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .15fr .75fr;
        font-size: 15px;
    }
    .resume img {
        width: 100%;
        height: auto;
    }
    
}
  